[Desktop Entry]
Version=1.0
Name=Process Manager (Admin)
Comment=Launch OS Manager with elevated privileges
Exec=bash -c "cd ~/process_manager && ./myvenv/bin/python main-code/main.py"
Icon=application-game
Terminal=true
Type=Application
Categories=Utility;System;
